
<center>
    <h3>Packages</h3>
    
    <% @messages.each do |message|%>
      <% tracking_number_array = TrackingNumber.search(message['body']['content'])%>
      <% if tracking_number_array.size >= 1%>
      <% tracking_number_array.each do |tracking_number|%>
        <%url = URI.parse("https://api.shipengine.com/v1/tracking?carrier_code="+tracking_number.courier_code.to_s+"&tracking_number="+tracking_number.tracking_number)
          http = Net::HTTP.new(url.host, url.port)
          http.use_ssl = true
          http.verify_mode = OpenSSL::SSL::VERIFY_NONE
      
          request = Net::HTTP::Get.new(url.request_uri)
          request["accept"] = 'application/json'
          request["api-key"] = ENV["SHIPENGINE_API_KEY"]
      
          response = http.request(request) %>
          <% hashed_response = JSON.parse(response.body)%>
            <% if hashed_response["status_code"]%>
            
            <div class="uk-card" id="bottom-margin">
              <%=tracking_number.courier_name%> <%= react_component('ProgressBox', tracking_info: hashed_response) %><br/>
            </div>
            <%end%>
          <%end%>
          <%elsif tracking_number_array.size == 0%>
          <h3> You have no packages to track </h3>
        <%end%>
      <%end%>

</center>
<footer>

  <table class="uk-table uk-table-divider">
  <Caption> Delivery Status Code Explained</Caption>
  <tr>
    <td> NY </td>
    <td> Not Yet Received by Carrier </td>
  </tr>
  <tr>
    <td> Un</td>
    <td> Unknown </td>
  </tr>
  <tr>
    <td> DE </td>
    <td> Delivered </td>
  </tr>
  <tr>
    <td> IT </td>
    <td> In Transit </td>
  </tr>
  <tr>
    <td> AC </td>
    <td> Accepted by the Carrier</td>
  </tr>
  </table>

  If your status is showing in either red or yellow, please contact the carrier directly.
</footer>